<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/diet.css">
</head>

<body>
    <header>
        <nav>
            <ul class="navigation">
                <li><a href="/workout">Workouts</a></li>
                <li><a href="/diet">Diet</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/login">Login/Sign Up</a></li>
                <li><a href="/myprofile">Profile</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Diet Tracker</h1>
        <div class="meal-container">
            <!-- Display meal details here -->
            <h2>{{mealName}}</h2>
            <p>{{mealDescription}}</p>
            <ul>
                {{#each mealItems}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="savedMeals">
            <button id="viewSavedMeals">check saved meals</button>
        </div>
        <div class="meal-list">
            <h2>Meals</h2>
            <ul>
                {{#each meals}}
                <li><a href="/diet/{{this.id}}">{{this.name}}</a></li>
                {{/each}}
            </ul>
        </div>
        <div class="content">
            <div class="input ">
                <form class="fourm">
                    <label for="calories">type your meal Max calories:</label>
                    <input type="number" id="calories" name="calories">
                    <label for="mincalories">type your meal Min calories:</label>
                    <input type="number" id="mincalories" name="mincalories">
                </form>
                <br>
                <button id="submit" type="button">submit</button>

            </div>
        </div>
        <div class="result">

        </div>

        <div class='Recipe'>

        </div>
    </main>

    <footer>
        <!-- Footer content here -->
    </footer>

    <script src="/js/diet.js"></script>
</body>

</html>